# .dockerignore

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Ignore Git repository files
.git/
.gitignore

# Ignore documentation and metadata files
*.md
*.txt
# Exception to include requirements.txt
!requirements.txt

# Ignore editor and IDE settings
.vscode/
.idea/
*.iml

# Ignore Docker-related files in the root directory
docker-compose*.yml
.env                  # Exclude the .env file to prevent sensitive info from being copied into the image

# Ignore node_modules (for frontend dependencies if any)
node_modules/

# Ignore local testing, development, and temporary files
.env.*
*.swp
.DS_Store