root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,pyi}]
indent_size = 4

[*.{yml,yaml}]
indent_size = 2

[*.{json,jsonc}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{html,htm}]
indent_size = 2

[*.css]
indent_size = 2

[*.js]
indent_size = 2

[Dockerfile*]
indent_style = tab
indent_size = 4

[*.sh]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

[*.{bat,cmd}]
end_of_line = crlf
